<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.co.planis.sampleiremocondriver">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ApplicationSettingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LearningActivity"/>

        <!-- コマンド受信用 -->
        <receiver
            android:name=".receiver.IRemoconCommandBroadcastReceiver" android:exported="false">
            <intent-filter>
                <action android:name="proj.iot.exchange.redge.gatewaytodriver.intent.RECEIVE" />
            </intent-filter>
        </receiver>
        <!-- レシーバから起動するサービスの登録 -->
        <service android:name=".service.IRemoconGatewayToDriverIntentService"/>

        <!-- ドライバアプリ情報収集ブロードキャスト受信用 -->
        <receiver android:name=".receiver.IRemoconCollectInfoBroadcastReceiver">
            <intent-filter>
                <action android:name="proj.iot.exchange.redge.gatewaytodriver.intent.COLLECT" />
            </intent-filter>
        </receiver>
        <!-- ドライバの情報をゲートウェイアプリに送信するためのサービスクラスの登録 -->
        <service android:name=".service.IRemoconSendDriverInfoIntentService" />

    </application>

</manifest>
