<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.co.planis.rapirodriverapp">

    <!-- パーミッションの追加 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="jp.co.planis.rapirodriverapp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- コマンド受信用 -->
        <receiver
            android:name="jp.co.planis.rapirodriverapp.receiver.RapiroCommandBroadcastReceiver" android:exported="false">
            <intent-filter>
                <action android:name="jp.co.planis.gatewaytodriver.intent.RECEIVE" />
            </intent-filter>
        </receiver>
        <!-- レシーバから起動するサービスの登録 -->
        <service android:name="jp.co.planis.rapirodriverapp.service.RapiroGatewayToDriverIntentService"/>

        <!-- ドライバアプリ情報収集ブロードキャスト受信用 -->
        <receiver android:name=".receiver.RapiroCollectInfoBroadcastReceiver">
            <intent-filter>
                <action android:name="jp.co.planis.gatewaytodriver.intent.COLLECT" />
            </intent-filter>
        </receiver>
        <!-- ドライバの情報をゲートウェイアプリに送信するためのサービスクラスの登録 -->
        <service android:name="jp.co.planis.rapirodriverapp.service.RapiroDriverInfoIntentService" />

    </application>
    <uses-permission android:name="android.permission.BLUETOOTH"/>

</manifest>